body{ 
    background-color: #f0f0f0;
    font-family:'Montserrat';
}
header{
    font-size: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #ffffff;
}


div.menu {
    display:flex;
    flex-direction: row;
    justify-content: center;
}
a {
    text-decoration: none;
}

   .bottom-bar {
      margin-right: auto;
      margin-top: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;
    }

    
  .search-container input {
      width: 1500px;
    }

    .catalog-button {
      background-color: #1C69D4;
      border: none;
      border-radius: 4px;
      color: white;
      height: 50px;
      font-weight: 67px;
      line-height: 23px;
      width: 220px;
      cursor: pointer;
      
      flex: 0 0 auto;
      user-select: none;
    }


.header-nav {
    margin: 19.6px;
    display: flex;
    justify-content: left;
    outline: none;
    border: none;
    gap: 40px;
}


.header-nav button{
    line-height: 20px;
    outline: none;
    border: none;
    max-height: 20px;
    background-color: #ffffff;
}
.right-nav {
    gap: 24px;      
    margin-left: auto;
} 
.right-nav img{
    height: 19px;
    width: 18px;
}
 
.header__link { 
    font-size: 15px;   
    color:#000000;
 }
 
.header__link h2{    
    color:black;
 }

.right-nav a {
    color: #000000;
}
 

/* Похуй, все что ниже тоже чекай  */

.body_fon {
    position: relative;
    margin: 30px 50px 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Тут почитай  */
    background-image: url('images/fon.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    z-index: 0;
}


.body_fon .text-overlay{
  color: #FFFFFF;
  margin-top: -350px;
  position: relative;
  margin-right: 1140px;

}

.next {
    display: flex;
    gap: 10px;
    margin-left: 1550px;
}

.box_hover{
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  opacity: 0.3;
}
.vpered {
  position: absolute;
  margin-left: 110px;
  margin-top: 30px;
  width: 34px;
  z-index: 0;
}
.nazad {
  transform: scaleX(-1);
  position: absolute;
  margin-left: 20px;
  margin-top: 30px;
  width: 34px;
  z-index: 0;
}
.box{
  width: 80px;
  height: 80px;
  background-color: #FFFFFF;
  opacity: 0.4;
}

h2{

    font-size: 16px;
    line-height: 20px;
    font-weight: 10;
 }

h5{

    font-size: 16px;
    line-height: 150px;
    font-weight: 10;
}
h6{
    position: absolute;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    font-weight: 10;
    margin-left: 1000PX;
 }

.felix{
    position: absolute;
    top: 33px;
    left: 160px;
}

.motor {
    position: relative;
    z-index: 5;
}

.rectangle-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    gap: 30px;
    width: 100%;
    max-width: 1400px;
    z-index: 10;
}

.white-rectangle {
    height: 216px;
    background-color: white;
    padding: 20px;
}

.awm, .rosdot {
    z-index: 5;
}

.header-down {
  background-color: #f0f0f0 ;
}