body{ 
    background-color:whitesmoke ;
}
header {
    display:flex;
    justify-content: center;
    padding: 20px;
}
div.menu {
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.nav {
    width: 70%;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
   .bottom-bar {
      margin-top: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      flex-wrap: wrap;
    }
     .catalog-button {
      background-color: #1C69D4;
      border: none;
      padding: 8px 18px;
      color: white;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s;
      flex: 0 0 auto;
      user-select: none;
    }
